# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv
Pipfile
Pipfile.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test cache
.coverage
.tox/
.nox/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.subl